<div class="container">
  <h1>Your Shopping Cart</h1>

  <ng-container *ngIf="cart$ | async as cart">
    <p>You have {{ cart.totalItemCount }} items in your shopping cart.</p>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 80px;"></th>
          <th>Product</th>
          <th class="text-center" style="width: 250px;">Quantity</th>
          <th class="text-right" style="width: 200px;">Total Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.items">
          <td><img [src]="item.imageUrl" class="thumbnail"></td>
          <td class="align-middle">{{ item.title }}</td>
          <td class="align-middle">
            <product-quantity [product]="item" [cart]="cart"></product-quantity>
          </td>
          <td class="text-right align-middle">{{ item.totalPrice | currency:'USD' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ cart.totalPrice | currency:'USD' }}</th>
        </tr>
      </tfoot>
    </table>
    <button (click)="clearCart()" class="btn btn-danger btn-sm">Clear shopping cart</button>
  </ng-container>
</div>