<div class="card" style="width: 20rem;">
  <div class="card-img">
    <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl">
  </div>
  <div class="card-body">
    <h4 class="card-title text-capitalize">{{ product.title }}</h4>
    <p class="card-text">{{ product.price | currency:'USD' }}</p>
  </div>
  <div 
    class="card-footer" 
    *ngIf="showActions && cart" >
    <button 
      *ngIf="cart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-primary btn-block">
      Add to cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [cart]="cart" [product]="product"></product-quantity>
    </ng-template>
  </div>
</div>