<p>
  <button 
    class="btn btn-primary"
    routerLink="/admin/products/new">
    New Products
  </button>
</p>

<p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search" class="form-control">
</p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{ product.payload.val().title }}</td>
      <td>{{ product.payload.val().price }}</td>
      <td>
        <a [routerLink]="['/admin/products/', product.payload.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
